USE [master]
GO
/****** Object:  Database [biblioteca]    Script Date: 12/11/2019 21:41:46 ******/
CREATE DATABASE [biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\biblioteca.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\biblioteca_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biblioteca]
GO
/****** Object:  Table [dbo].[j_laboral]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[j_laboral](
	[id_jornada] [char](5) NOT NULL,
	[id_personal] [char](5) NOT NULL,
	[hora_ENT] [char](5) NOT NULL,
	[HORA_SAL] [char](5) NOT NULL,
	[fecha] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[lector]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lector](
	[id_lector] [char](5) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](25) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[ocupacion] [varchar](20) NOT NULL,
	[fecha_NACIMIENTO] [char](10) NOT NULL,
	[fecha_inscripcion] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[libros]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[libros](
	[id_libro] [char](5) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[genero] [varchar](15) NOT NULL,
	[autor] [varchar](35) NOT NULL,
	[nro_paginas] [int] NOT NULL,
	[estado] [varchar](10) NOT NULL,
	[año_d_edicion] [char](4) NOT NULL,
	[editorial] [varchar](30) NOT NULL,
	[modo_adquisicion] [varchar](20) NOT NULL,
	[fecha_adquisicion] [varchar](11) NOT NULL,
	[disponible] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mora_persona]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mora_persona](
	[id_mora] [char](5) NOT NULL,
	[id_libro] [char](5) NOT NULL,
	[id_lector] [char](5) NOT NULL,
	[fecha_d_prestamo] [char](10) NOT NULL,
	[fecha_d_devolucion] [char](10) NOT NULL,
	[tiempo_mora] [char](5) NOT NULL,
	[costo_mora] [float] NOT NULL,
	[fecha_mora] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[personal]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[personal](
	[id_personal] [char](5) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellidos] [varchar](30) NOT NULL,
	[dni] [char](8) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[cargo] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[prestamo]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prestamo](
	[id_prestamo] [char](5) NOT NULL,
	[id_lector] [char](5) NOT NULL,
	[id_personal] [char](5) NOT NULL,
	[fech_prestamo] [char](10) NOT NULL,
	[fech_devolucion] [char](10) NOT NULL,
	[id_libro] [char](5) NOT NULL,
	[estado_prestamo] [varchar](150) NOT NULL,
	[estado_devolucion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[libroad]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[libroad] as
 SELECT id_libro,titulo,genero,autor,nro_paginas,estado,año_d_edicion as 'Año de edicion',editorial,modo_adquisicion,fecha_adquisicion,disponible from libros where modo_adquisicion='Donado'
 with check option

GO
/****** Object:  View [dbo].[personalactivo]    Script Date: 12/11/2019 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[personalactivo] as
SELECT personal.id_personal , personal.nombre as 'nombre' , personal.apellidos as 'Apellidos' ,personal.dni as'DNI', personal.sexo as 'Sexo', personal.direccion as 'Direccion', personal.cargo as'Cargo', j_laboral.id_jornada, j_laboral.hora_ent as'H_Ent', j_laboral.hora_sal as'H_Sal', j_laboral.fecha as 'Fecha' 
      from personal inner join j_laboral on personal.id_personal=j_laboral.id_personal
	  with check option

GO
INSERT [dbo].[j_laboral] ([id_jornada], [id_personal], [hora_ENT], [HORA_SAL], [fecha]) VALUES (N'J0001', N'P0001', N'8.00 ', N'4.00 ', N'01/01/2019')
INSERT [dbo].[j_laboral] ([id_jornada], [id_personal], [hora_ENT], [HORA_SAL], [fecha]) VALUES (N'J0002', N'P0002', N'8.00 ', N'4.00 ', N'02/01/2019')
INSERT [dbo].[j_laboral] ([id_jornada], [id_personal], [hora_ENT], [HORA_SAL], [fecha]) VALUES (N'J0003', N'P0003', N'8.00 ', N'4.00 ', N'01/05/2019')
INSERT [dbo].[lector] ([id_lector], [nombre], [apellido], [sexo], [dni], [ocupacion], [fecha_NACIMIENTO], [fecha_inscripcion]) VALUES (N'LE001', N'David', N'muñoz fuentes', N'M', N'78654212', N'Estudiante', N'10/10/2000', N'10/08/2019')
INSERT [dbo].[lector] ([id_lector], [nombre], [apellido], [sexo], [dni], [ocupacion], [fecha_NACIMIENTO], [fecha_inscripcion]) VALUES (N'LE002', N'Ines', N' Camera Llosa', N'F', N'78965231', N'Estudiante', N'10/02/1999', N'10/09/2019')
INSERT [dbo].[lector] ([id_lector], [nombre], [apellido], [sexo], [dni], [ocupacion], [fecha_NACIMIENTO], [fecha_inscripcion]) VALUES (N'LE003', N'Virginia', N'Tapa Vega', N'F', N'78524136', N'Estudiante', N'02/02/1999', N'09/02/2019')
INSERT [dbo].[libros] ([id_libro], [titulo], [genero], [autor], [nro_paginas], [estado], [año_d_edicion], [editorial], [modo_adquisicion], [fecha_adquisicion], [disponible]) VALUES (N'L0001', N'Juego de la vida', N'Finanzas', N'Robert Kiyosaki', 350, N'nuevo', N'2001', N'Aguilar', N'Donado', N'12/11/2019', N'Si')
INSERT [dbo].[libros] ([id_libro], [titulo], [genero], [autor], [nro_paginas], [estado], [año_d_edicion], [editorial], [modo_adquisicion], [fecha_adquisicion], [disponible]) VALUES (N'L0002', N'Cien años de soledad', N'Literatura', N'Gabriel Garcia Marques', 389, N'semi nuevo', N'1967', N'Santillana', N'Donado', N'05/11/2019', N'Si')
INSERT [dbo].[libros] ([id_libro], [titulo], [genero], [autor], [nro_paginas], [estado], [año_d_edicion], [editorial], [modo_adquisicion], [fecha_adquisicion], [disponible]) VALUES (N'L0003', N'La Odisea', N'Relato', N'Homero', 400, N'nuevo', N'VIII', N'Antonio Lopez', N'Donado', N'01/08/2019', N'Si')
INSERT [dbo].[mora_persona] ([id_mora], [id_libro], [id_lector], [fecha_d_prestamo], [fecha_d_devolucion], [tiempo_mora], [costo_mora], [fecha_mora]) VALUES (N'M0001', N'L0001', N'LE001', N'01/10/2019', N'05/10/2019', N'24:00', 6, N'10/10/2019')
INSERT [dbo].[mora_persona] ([id_mora], [id_libro], [id_lector], [fecha_d_prestamo], [fecha_d_devolucion], [tiempo_mora], [costo_mora], [fecha_mora]) VALUES (N'M0002', N'L0002', N'LE004', N'14/05/2019', N'14/06/2019', N'2:00 ', 1, N'15/06/2019')
INSERT [dbo].[mora_persona] ([id_mora], [id_libro], [id_lector], [fecha_d_prestamo], [fecha_d_devolucion], [tiempo_mora], [costo_mora], [fecha_mora]) VALUES (N'M0003', N'L0004', N'LE005', N'23/09/2019', N'24/10/2019', N'12:00', 3, N'25/10/2019')
INSERT [dbo].[personal] ([id_personal], [nombre], [apellidos], [dni], [sexo], [direccion], [cargo]) VALUES (N'P0001', N'Edwin', N'Laura Vegazo', N'4689453 ', N'M', N'Socabaya N° 354', N'Inspector')
INSERT [dbo].[personal] ([id_personal], [nombre], [apellidos], [dni], [sexo], [direccion], [cargo]) VALUES (N'P0002', N'Efrain', N'vargas piña', N'74689453', N'M', N'Socabaya N° 354', N'Inspector')
INSERT [dbo].[personal] ([id_personal], [nombre], [apellidos], [dni], [sexo], [direccion], [cargo]) VALUES (N'P0003', N'David', N'Montes Lazo', N'74658934', N'M', N'Pasaje Umacollo 201', N'Tecnico responsable de coleccion')
INSERT [dbo].[prestamo] ([id_prestamo], [id_lector], [id_personal], [fech_prestamo], [fech_devolucion], [id_libro], [estado_prestamo], [estado_devolucion]) VALUES (N'PR001', N'LE001', N'P0001', N'10/10/2019', N'15/10/2019', N'l0001', N'Nuevo', N'Arañado')
INSERT [dbo].[prestamo] ([id_prestamo], [id_lector], [id_personal], [fech_prestamo], [fech_devolucion], [id_libro], [estado_prestamo], [estado_devolucion]) VALUES (N'PR002', N'LE002', N'P0002', N'10/11/2019', N'12/11/2019', N'l0002', N'Nuevo', N'Normal')
INSERT [dbo].[prestamo] ([id_prestamo], [id_lector], [id_personal], [fech_prestamo], [fech_devolucion], [id_libro], [estado_prestamo], [estado_devolucion]) VALUES (N'PR003', N'LE003', N'P0001', N'11/09/2019', N'11/10/2019', N'l0004', N'Nuevo', N'Normal')
ALTER TABLE [dbo].[j_laboral]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[mora_persona]  WITH CHECK ADD FOREIGN KEY([id_lector])
REFERENCES [dbo].[lector] ([id_lector])
GO
ALTER TABLE [dbo].[mora_persona]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([id_libro])
GO
ALTER TABLE [dbo].[prestamo]  WITH CHECK ADD FOREIGN KEY([id_lector])
REFERENCES [dbo].[lector] ([id_lector])
GO
ALTER TABLE [dbo].[prestamo]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([id_libro])
GO
ALTER TABLE [dbo].[prestamo]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
USE [master]
GO
